h1,
.title1, .t1{
    @include ffs(60px, 36px, 36px, 24px);
    font-weight: 500;
    line-height: 110%;
}

h2, .title2, .t2 {
    @include ffs(40px, 26px, 26px, 24px);
    font-weight: 400;
    line-height: 110%;
}

h3, .title3, .t3 {
    @include ffs(22px, 18px, 18px, 16px);
    font-weight: 600;
    line-height: 130%;
}

.text-med, .tm {
    @include ffs(16px, 16px, 16px, 14px);
    font-weight: 400;
    line-height: 150%;
}

.text-small, .ts {
    @include ffs(14px, 14px, 14px, 12px);
    font-weight: 400;
    line-height: 140%;
}

.btn-text-big {
    @include ffs(16px, 13px, 13px, 13px);
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase
}

.price-text {
    @include ffs(28px, 22px, 22px, 22px);
    line-height: 130%;
    font-weight: bold;
}

.menu-text {
    @include ffs(100px, 72px, 72px, 44px);
    line-height: 110%;

    @include mobile {
        font-weight: bold;
    }
}

.numeral {
    &-big {
        @include ffs(170px, 120px, 120px, 80px);
        font-weight: 400;
        line-height: 80%;
    }

    &-small {
        @include ffs(80px, 60px, 60px, 60px);
        font-weight: 500;
        line-height: 80%;
    }
}

.brief{
    &-big {
        font-size: 100px;
        line-height: 110%;
        font-weight: 500;
    }

    &-small {
        font-size: 100px;
        line-height: 110%;
        font-weight: 500;
    }
}

.stebnev {
    &__title {
        @include ffs(220px, 140px, 100px, 50px);
        font-weight: bold;
        line-height: 110%;
        letter-spacing: 0.1em;
    }

    &__subtitle {
        @include ffs(30px, 20px, 20px, 10px);
        line-height: 100%;
        font-weight: 300;
        letter-spacing: 3.9em;
        margin-right:-3.9em;
    }
}

.ticker {
        &Big {
            @include ffs(100px, 80px, 80px, 40px);
            line-height: 130%;
            font-weight: 500;
            @media (min-width: 1025px) {
                font-weight: 600;
            }
        }
        &Small {
            @include ffs(100px, 80px, 80px, 40px);
            line-height: 130%;
            font-weight: 300;
            @media (min-width: 1025px) {
                font-weight: 400;
            }
        }
}