@import "__variables";
@import "__adaptive";
@import "__typography";
@import "__colors";
@import "__components";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  background-color: $black;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body, html {
  min-height: 100vh;
}


.container {
  max-width: #{$maxWidthContainer + px};
  margin: 0 auto;

  @include laptop {
    max-width: 784px;
  }

  @include tablet {
    max-width: 528px;
  }
}

.wrapper {
  @include aprop("padding-left", 40px, 32px, 32px, 30px);
  @include aprop("padding-right", 40px, 32px, 32px, 30px);
}
.main {
  transition: $transitionTime;
}

a {
  text-decoration: none;
}

.swiper-slide img {
  overflow: hidden;
  transition: $transitionTime;
}
.swiper-slide-active:has(.case) img {
  scale: 2.1;
  transition: $transitionTime;
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
}

.bgBlack .offer__title,
.bgBlack .offer__text {
  color: $black;
}

.main {
  background-color: $white;
  color: $black;

  &.bgBlack {
    background-color: $black;
    color: $white;
  }

  &.bgWhite {
    background-color: $white;
    color: $black;
  }

  @include mobile{
    background-color: $black;
    color: $white;

    .offer * {
      color: $black;
    }

    .offer__front {
      mix-blend-mode: normal;
    }
  }


}

